[Unit]
Description=FastAPI Backend
After=network.target

[Service]
WorkingDirectory=/workspace/backend
ExecStart=/workspace/backend/env/bin/gunicorn app.main:app \
    -k uvicorn.workers.UvicornWorker \
    --workers 4 \
    --worker-connections 1000 \
    --bind 0.0.0.0:3030
Restart=always

[Install]
WantedBy=multi-user.target
