@import "tailwindcss";

@theme {
    --color-hvs-yellow: #EDB926;
    --color-hvs-black: #242424;
    --color-hvs-black-dark: #1A1A1A;
    --color-hvs-white: #FFFFFF;
    --color-hvs-red: #D64545;
    --color-hvs-red-dark: #A93232;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--color-hvs-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: bold;
  color: var(--color-hvs-white);
}

.hvs-text {
  font-size: 1.2em;
  color: var(--color-hvs-white);
}


/* in your global.css or App.css */
.hvs_btn {
  @apply w-32 rounded px-5 py-1 text-white bg-hvs-black transition-colors duration-200;
}

.hvs_btn:hover {
  @apply bg-hvs-black-dark shadow-xl;
}


.hvs_trash {
  color: var(--color-hvs-red);
  display: inline-flex;
  cursor: pointer;
  transition: color 0.2s ease;
}

.hvs_trash:hover,
.hvs_trash:focus {
  color: var(--color-hvs-red-dark);
}

